/* iPads (landscape) ----------- */
@media only screen and (max-device-width : 768px)  {
    #switcher{    margin-top: -120px;    white-space: normal;
    }
/* Styles */
}


    html body #header-outer[data-transparent-header="true"].transparent {

         border-bottom: 0px solid rgba(255,255,255,0.25)!important;
    }


    #switcher .active:after {
      display: none;
    }

#switcher {
    padding-bottom:  20px!important;
    visibility: visible;
    margin-top: -60px;
}

#switcher h1 {
  margin-bottom:30px;
}

#switcher a {      white-space: normal;
    padding: 20px;
 border-right: 0px solid white;
 font-family: 'Oswald'!important;
 font-size: 2em;
}

#switcher h5 .active {color: #bfa97b;
  transition:0.3s all ease;

}

}

h1{font-size:4em;
margin-bottom:40px;
}

#content-0{padding-bottom:200px;}


div#footer-outer img {
    display: none;
}

#footer-outer  {
    border: none!important;
    background-color: #161614!important;
}

#footer-outer #copyright, body {

    border: top!important;
    background-color: #161614!important;
}

.ascend #footer-outer #copyright {
    border-top: 1px solid #ebe9e7!important;}


#content-1, #content-2, #content-3{min-height:300px;}
